body {
    font-family: "Montserrat", sans-serif;
}

.text {
    display: inline-block;
    overflow: hidden;
    transition: width 0.2s ease-in-out;
    white-space: nowrap;
}

.fadein {
    animation: fadein 0.4s forwards;
}

.fadeout {
    animation: fadeout 0.4s alternate;
}

.flipcard {
    animation: flipcard 1s forwards;
}

.card-container {
    cursor: pointer;
    height: 260px;
    perspective: 600;
    position: relative;
    width: 400px;
}

.card {
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    width: 100%;
}
/* .card:hover {
    transform: rotateY(180deg);
} */
.card .side {
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
}
.card .back {
    transform: rotateY(180deg);
}

@keyframes fadeout {
    0% {
        width: 160px;
    }
    100% {
        width: 0px;
    }
}

@keyframes fadein {
    0% {
        width: 0px;
    }
    100% {
        width: 160px;
    }
}

@keyframes flipcard {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(400px);
    }
    100% {
        transform: rotateY(180deg) translateX(-400px);
    }
}
